@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.check-by-id-container body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ebe4e4;
  color: #fff;
}

.attendance-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: fit-content;
  background-color: #ebe4e4;
  width: 100%;
}

.attendance-form {
  width: 70vh;
  padding: 60px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
}
.attendance-form h2 {
  color: #ebe4e4;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  margin-bottom: 5%;
}
.attendance-form #subBar button{
  justify-content: start;
}
.attendance-form #subBar #checkAtt{
  margin-left: 24%;
  justify-content: end;
  font-size: large;
}

.check-by-id-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.attendance-form-container label {
  display: block;
  margin-bottom: 10px;
  color: #ebe4e4;
  font-weight: bold;
}

.check-by-id-container input,
.attendance-form-container input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.check-by-id-container p {
  margin: 15px 0;
  color: #bbb;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ff8c00;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #ff6f00;
  transform: scale(1.1);
}
